.-ab-block-article-items__content_second {
    margin-top: -20px;
}

.-ab-block-article__contain_edu {
    height: 400px;
}

.-ab-block-w100__wrap {
    background: url("../img/quotes-bg.jpg") top center no-repeat;
    height: 440px;
    color: #fff;
    text-align: center;
}